header {
    display: grid;
    grid-template-columns: 200px auto;
    font-family: 'rock salt';
    background-color: #457b9d;
}

nav a {
    font-family: 'rock salt';
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 50px;
}

body {
    font-family: 'roboto';
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: #f1faee;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img,
.mountains {
    width: 100%;
}

footer {
    background-color: darkolivegreen;
}

nav a {
    
    color: #f1faee;
}

nav a:hover {
    background-color: #1d3557;
    color: black;
}

h4 {
    font-family: 'rock salt';

    color: azure;
    margin: 0;
}

#background {
    grid-column: 1/11;
    grid-row: 4/9;
}

.msg {
    background-color: #457b9d;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #457b9d;
}

.msg h2 {
    font-family: cursive;
    background-color: rgb(169, 143, 143);
    color: black;
}

.msg p {
    background-color: rgb(169, 143, 143);
    color: black;
    line-height: .8em;
    padding-bottom: 15px;
}

footer {
    font-family: 'rock salt';
    background-color: #1d3557;
    color: white;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    font-family: 'rock salt';
    background-color: darkgray;
    color: #a8dadc;
}

footer a:hover {
    background-color: rgb(196, 200, 210);
    color: black;
}

.logo {
    width: 100px;
    float: left;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#import-img {
    width: 100%
}




footer a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.river-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rivers-card {
    margin: 100px 2px;
    padding: 50px;
}

.camping-card {
    margin: 100px 0;
    grid-column: 2/2;
    padding: 50px;
}

.book,
.join {
    font-family: 'roboto';
    font-size: 18px;
    background-color: #f1faee;
    color: #e63946;
    margin-top: 50px;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #e63946;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1faee;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.navbar{
    padding-right: 200px;
}
.accordion {
    background-color: #a8dadc;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .btn {
    border: none; /* Remove borders */
    color: white; /* Add a text color */
    padding: 14px 28px; /* Add some padding */
    cursor: pointer; /* Add a pointer cursor on mouse-over */
  }
  
  .success {background-color: #04AA6D;} 
  .success:hover {background-color: #46a049;}
  
  .info {background-color: #457b9d;} 
  .info:hover {background: #0b7dda;}
  
  .warning {background-color: #ff9800;} 
  .warning:hover {background: #e68a00;}
  
  .danger {background-color: #e63946;} 
  .danger:hover {background: #da190b;}
  
  .default {background-color: #a8dadc; color: black;} 
  .default:hover {background: #ddd;}